/* Final Project | BlackJack */
@import url("reset.css");

body {
  border: 4px solid red;
}

header, footer, aside, section {
  padding: 20px;
}

header {
  border: 4px solid blue;
}

main {
  border: 4px solid #e2da1d;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

aside {
  border: 2px dashed #913517;
}

section {
  border: 2px dashed #28065b;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  border: 4px solid #8e641e;
  margin-bottom: 30px;
}

/* FlexBox
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
*/
